body{
    font-family: '微软雅黑';
    font-size:13px;
    color:#666;
}
.mobile{
    /*使用此种方法定位，使结尾定位相对其定位，兼容微信*/
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#efefef;
}
.header{
    text-align: center;
    height:50px;
    background:rgba(158,247,134,0.8);
    /*background:#37ab40;*/
    position: relative;
}
.header .logo{
    width:72px;
    height:25px;
    display: block;
    margin:12px auto;
}
.header .logo img{
     width:100%;
 }
.header .search{
    width:32px;
    height:32px;
    position:absolute;
    right:15px;
    top:9px;
    background: url("../images/search.png") left top no-repeat;
    background-size: 32px 32px;
}
.center{
    position:absolute;
    left:0;
    right:0;
    top:50px;
    bottom:60px;
    background:#efefef;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom:10px;
}
.center .slide img{
    width:100%;
}
.center .list{
    margin-top:10px;
    padding:20px 0 0;
    background:#fff;
    display: block;
    height:220px;
}
.center .list li{
    width:25%;
    height:110px;
    text-align: center;
    overflow: hidden;
}
.center .list li a{
    display: block;
    width:60px;
    height:60px;
    margin:0 auto;
}
.center .list li:nth-child(1) a{
    background: url("../images/mobileicons.png") left top no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(2) a{
    background: url("../images/mobileicons.png") left -60px no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(3) a{
    background: url("../images/mobileicons.png") left -120px no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(4) a{
    background: url("../images/mobileicons.png") left -180px no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(5) a{
    background: url("../images/mobileicons.png") left -240px no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(6) a{
    background: url("../images/mobileicons.png") left -300px no-repeat;
    background-size: 60px 783px;
}
.center .list li:nth-child(7) a{
    background: url("../images/mobileicons.png") left -360px no-repeat;
    background-size: 60px 783px;
}.center .list li:nth-child(8) a{
     background: url("../images/mobileicons.png") left -420px no-repeat;
     background-size: 60px 783px;
 }
.center .list li h2{
    margin-top:10px;
    height:21px;
    font:bold 13px/21px "微软雅黑";
    color:#333;
}
.center .banner{
    margin-top:10px;
    background:#fff;
    padding:20px 10px;
}
.center .banner_title h3{
    border-left:4px solid gold;
    padding-left:10px;
    color:gold;
    font-size:16px;
}
.banner .banner_img{
    margin-top:10px;
}
.banner .banner_img img,.banner .banner_list li img{
    width:100%;
}
.banner .banner_list{
    margin-top:20px;
}
.banner .banner_list li{
    width:30%;
    border-right:1px solid #ccc;
    padding:0 2%;
}
.banner .banner_list li:first-child{
    padding-left:0;
}
.banner .banner_list li:last-child{
    border-right:none;
    padding-right:0;
}
.banner .banner_list li h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom:10px;
}
.banner .banner_list li p:last-child{
    height:26px;
    text-align: center;
    line-height: 26px;
    margin-top:10px;
}
.banner .banner_list li p span{
    width:50%;
    color:red;
}
.banner .banner_list li p a{
    width:26px;
    border:1px solid #ccc;
    border-radius: 13px;
    color:red;
    font-size:22px;
    font-weight: bold;
}
.footer{
    width:100%;
    height:60px;
    /*为了兼容微信用绝对定位*/
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
    font-size:0;
    /*padding:10px 0;*/
}
.footer ul li{
    width:25%;
    font-size:13px;
    text-align: center;
}
.footer ul li a{
    width:100%;
    height:40px;
    display: inline-block;
    text-align: center;
}
.footer ul li:nth-child(1) a{
    background:url("../images/mobileicons.png") center -500px  no-repeat;
    background-size: 60px 728px;
}
.footer ul li:nth-child(2) a{
    background:url("../images/mobileicons.png") center -670px  no-repeat;
    background-size: 60px 728px;
}
.footer ul li:nth-child(3) a{
    background:url("../images/mobileicons.png") center -447px  no-repeat;
    background-size: 60px 728px;
}
.footer ul li:nth-child(4) a{
    background:url("../images/mobileicons.png") center -557px  no-repeat;
    background-size: 60px 728px;
}