.con{
    width:800px;
    /*height:600px;*/
    margin:50px auto;
    /*border:1px solid #ccc;*/
}
.logo{
    width:36%;
    height:500px;
    margin-right:5%;
    background:url("../images/register_banner.png") no-repeat right bottom;
    text-align: right;
}
.logo h3{
    margin-top:15px;
    display: block;
    text-align: right;
    color:#37ab40;
}
.logo a{
    display: block;
}
.register{
    width:50%;
    height:500px;
    background: url("../images/interval_line.png") no-repeat left center;
    color:#666;
    padding:0 30px;
}
.register .title{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}
.register .title h3{
    font-size:20px;
    display: inline-block;
}
.register .title a{
    width:50px;
    display: inline-block;
    color:#37ab40;
    font-size:14px;
}
.register .title .icon{
    width:20px;
    height:20px;
    margin-top:4px;
    background: url("../images/icons02.png") no-repeat 0 0;
}
.register .form{
    padding:20px 0 0;
}
.register .form .form-group{
    margin-top:10px;
}
.register .form .form-group label,.register .form .form-group input{
    display: inline-block;
}
.register .form .form-group label{
    width:20%;
    height:38px;
    line-height: 38px;
    font-size: 14px;
}
.register .form .form-group input{
    width:74%;
    height:36px;
    background: #f7f7f7;
    border:1px solid #ccc;
    padding:0 2% 0;
}
/*上传头像*/
.register .form .form-group input[type='file']{
    width: 100px;
    position: absolute;
    z-index: 1111;
    padding: 0;
    border:0;
    opacity: 0;
    margin-left:5px;
}
.register .form .form-group a{
    z-index: 111;
    position: absolute;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background: #37ab40;
    color: #fff;
    text-align: center;
    margin-left:5px;
}
.register .form .form-group .error{
    height:15px;
    margin:10px 0 0;
    text-indent: 22%;
    font-size:13px;
    color:#f00;
}
.register .form .form-group .explain{
    width:50%;
}
.register .form .form-group input[type="checkbox"] {
    width:16px;
    height:16px;
}
.register  button{
    width:100%;
    padding:10px 0;
    border:0;
    background:#37ab40;
    color:#fff;
    display: block;
    cursor: pointer;
}
/*版权信息样式*/
.footer{
    margin-top:30px;
    padding:20px 0 35px;
    border-top:2px solid #37ab40;
}
.footer p{
    font-size:14px;
    color:#4e4e4e;
    text-align: center;
    margin-top:15px;
}
.footer p a{
    color:#4e4e4e;
}